'
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="doop-l">
    <div class="overlap">
      <img class="vector" src="img/vector-9.svg" /> <img class="BG-copy" src="img/BG-copy.svg" />
    </div>
    <div class="overlap-group">
      <div class="div">
        <div class="overlap-2">
          <div class="group">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>

          </div>
          <div class="BG"></div>
          <div class="BG-2"></div>
          <div class="group-2">
            <div class="listen-music-anytime">Why Choose Us?</div>
            <p class="we-share-common-tren">
              Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Donec vitae accumsan felis. Nullam tristique
              convallis sapien, in
              ultrices mi varius ut.
            </p>
          </div>
          <div class="features">
            <div class="overlap-3">
              <div class="text-wrapper">Track Your Progress</div>
              <p class="with-lots-of-unique">
                Receive feedback and
                stats, and level up your skills after every drive.
              </p>
            </div>
            <div class="group-3"></div>
            <div class="overlap-4">
              <div class="text-wrapper">Perfect Match</div>
              <p class="p">Match with instructors
                ready to make each lesson enjoyable and effective.</p>
            </div>
            <div class="group-4"></div>
            <div class="overlap-5">
              <div class="organize-your-campai">Instant Wheels</div>
              <p class="with-lots-of-unique-2">
                Need a lesson instantly? DoopL it! Learning to drive easily on the
                go.
              </p>
            </div>
            <div class="group-5"></div>
          </div>
          <img class="iphone-pro-max" src="img/iphone-14-pro-max-1.png" />
        </div>
        <div class="overlap-6">
          <div class="group-6">
            <div class="overlap-group-2">
              <div class="group-7">
                <div class="text-wrapper-2">→</div>
                <p class="text-wrapper-3">Explore what’s new with DoopL</p>
              </div>
              <p class="text-wrapper-4">
                Learning-To-Drive Experience Made Instant with DoopL</p>
            </div>
            <p class="text-wrapper-5">

              Introducing DoopL—your slick new app for learning to drive anytime, anywhere. Just tap, match, and hit

              the road instantly. It’s the hassle-free way to sharpen your driving skills.
            </p>
          </div>
          <div class="ellipse"></div>
          <div class="nav">
            <div class="frame">
              <div class="text-wrapper-6">HOME</div>

              <div class="frame-2">
                <div class="text-wrapper-6">WHY CHOOSE US?</div>
              </div>
              <div class="frame-2">
                <div class="text-wrapper-6">HOW IT WORKS</div>
              </div>
              <div class="frame-2">
                <div class="text-wrapper-6">ABOUT US</div>
              </div>
              <div class="group-8">
                <div class="frame-3">
                  <div class="text-wrapper-6">CONTACT</div>
                </div>
                <img class="coolicon" src="img/coolicon.svg" />
              </div>
            </div>
            <div class="frame-4">

              <div class="text-wrapper-6">LOGIN</div>
              <img class="img" src="img/coolicon-2.svg" />
            </div>
          </div>

          <img class="doopl-logo-invert" src="img/doopl-logo-invert-1-2.svg" />
        </div>
        <div class="learner">
          <div class="tab-button-base">
            <div class="text">Learner</div>
          </div>
          <div class="div-wrapper">
            <div class="text-2">instructor</div>
          </div>
        </div>
        <div class="frame-5">
          <div class="explore-now">EXPLORE NOW</div>
          <img class="vector-2" src="img/vector-7.svg" />
        </div>
      </div>
      <div class="tab-button-base-2">
        <div class="text-3">DOWNLOAD APP</div>
      </div>
    </div>
    <div class="overlap-wrapper">
      <div class="overlap-7">
        <div class="content">
          <img class="line" src="img/line.svg" />
          <div class="group-9">
            <div class="overlap-8">
              <p class="with-lots-of-unique-3">Forget about rigid schedules - you’re in charge! DoopL .....</p>
              <div class="text-wrapper-7">Learn on Your Terms</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <div class="text-wrapper-8">1</div>
              </div>
            </div>
          </div>
          <div class="group-10">
            <div class="overlap-9">
              <p class="with-lots-of-unique-4">
                Our advanced technology doesn&#39;t just match you with any
                instructor.....
              </p>
              <div class="text-wrapper-7">Smart Matching</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <div class="text-wrapper-9">2</div>
              </div>
            </div>
          </div>
          <div class="group-11">
            <div class="overlap-10">
              <p class="with-lots-of-unique-5">
                Keep a close eye on your driving development through the DoopL
                app.....
              </p>
              <div class="text-wrapper-7">Progress at Your Fingertips</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <div class="text-wrapper-9">3</div>
              </div>
            </div>
          </div>
          <div class="title">
            <p class="with-lots-of-unique-6">
              Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Donec vitae accumsan felis. Nullam tristique
              convallis sapien, in
              ultrices mi varius ut.
            </p>
          </div>
          <div class="image">
            <div class="overlap-11">
              <div class="BG-3"></div>
              <img class="IMG" src="img/IMG.png" />
              <div class="notification">
                <div class="bell-wrapper"><img class="bell" src="img/bell-53.png" /></div>
                <div class="text-wrapper-10">
                  New Invitation!</div>
                <div class="interview-invitation">Start Your Journey Today!</div>
              </div>

            </div>
          </div>
        </div>
        <div class="find-jobs-with-eas">How it works</div>
      </div>
    </div>
    <div class="logos">
      <img class="object" src="img/object.png" />
      <img class="object-2" src="img/object-3.png" />

      <img class="object-3" src="img/object-2.png" />
      <img class="object-4" src="img/object-5.png" />
      <img class="object-5" src="img/object-6.png" />
      <img class="object-6" src="img/object-4.png" />
    </div>
    <div class="video-wrapper">
      <div class="video">
        <div class="overlap-12">
          <div class="layer">
            <div class="layer-2"></div>
          </div>
          <div class="group-12">
            <div class="button">
              <div class="arrow-down-wrapper"><img class="arrow-down" src="img/arrow-down.svg" /></div>
            </div>
            <p class="with-lots-of-unique-7">

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae accumsan felis. Nullam tristique

              convallis sapien,
            </p>
            <p class="how-do-we-help-you-t">How do we help you to grow?</p>
          </div>

        </div>
      </div>
    </div>
    <div class="overlap-13">
      <div class="group-wrapper">
        <div class="group-13">
          <p class="what-people-say-abou">Hear from Our Happy Customers!</p>
          <div class="group-14">
            <div class="icon-wrapper"><img class="icon" src="img/icon-2.svg" /></div>
            <div class="img-wrapper"><img class="icon" src="img/icon.svg" /></div>
          </div>
        </div>
      </div>
      <div class="OBJECTS-wrapper"><img class="OBJECTS" src="img/OBJECTS-2.svg" /></div>
    </div>
    <div class="get-started">
      <div class="frame-6">

        <div class="overlap-14">
          <div class="group-15">
            <div class="group-16">
              <div class="overlap-group-4">

                <div class="component">
                  <div class="you-re-good-to-go">&nbsp;&nbsp;You’re Good to Go</div>
                  <img class="arrow" src="img/arrow.png" />
                </div>
                <div class="ellipse-2"></div>
              </div>
            </div>

            <div class="text-wrapper-11">Ready to Get Started</div>
            <p class="text-wrapper-12">Lorem ipsum dolor sit
              amet, consectetur adipiscing elit.</p>
          </div>
          <div class="tab-button-base-3">
            <div class="text-3">DOWNLOAD APP</div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlap-15">
      <div class="group-17">
        <div class="group-18">

          <div class="text-wrapper-13">OUR LOCATION</div>
          <p class="text-wrapper-14">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.</p>
        </div>
        <div class="group-19">
          <div class="quick-links">QUICK LINKS
          </div>
          <div class="text-wrapper-15">Why Choose Us?</div>
          <div class="text-wrapper-16">How it works</div>

          <div class="text-wrapper-17">About Us</div>
          <div class="text-wrapper-18">Contact Us</div>
        </div>
        <div class="group-20">
          <div class="text-wrapper-13">CONTACT US</div>
          <div class="text-wrapper-19">
            Hello@doopl.com</div>
          <div class="text-wrapper-20">+61 400 567 748</div>
        </div>
        <div class="group-21">

          <p class="with-lots-of-unique-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
            accumsan felis. Nullam tristique
            convallis sapien, in ultrices mi varius ut. Maecenas vitae nunc purus.
            Sed iaculis sed turpis quis varius.
            Aenean ut elementum tellus, ornare elementum .
          </p>
          <img class="doopl-logo-invert-2" src="img/doopl-logo-invert-1.svg" />
        </div>
      </div>
      <div class="group-22">
        <img class="OBJECTS-2" src="img/OBJECTS.svg" />
      </div>
      <div class="ellipse-3"></div>
      <div class="setting-list-item">
        <div class="card"><img class="rounded" src="img/rounded.svg" /></div>
        <div class="label-wrapper">
          <div class="label">
            <div class="text-wrapper-21">Victoria, Australia</div>
          </div>
        </div>
        <img class="icon-2" src="img/image.svg" />
      </div>
      <div class="setting-list-item-2">

        <div class="card"><img class="group-23" src="img/group-1261153053.png" /></div>
        <div class="frame-7">
          <div class="label-2">
            <div class="text-wrapper-22">English</div>
          </div>
          <img class="icon-2" src="img/icon-3.svg" />
        </div>
      </div>
      <div class="group-24">
        <div class="group-25">
          <div class="group-26">
            <div class="a">
              <div class="group-wrapper-2"><img class="group-27" src="img/group-2.png" /></div>
            </div>
            <div class="a-2"></div>
            <div class="a-3">

              <div class="group-wrapper-2"><img class="group-28" src="img/group-4.png" /></div>
            </div>
            <div class="a-4"></div>
          </div>
          <div class="group-29">
            <div class="text-wrapper-23">Get Support</div>

            <div class="text-wrapper-24">Refund Policy</div>
            <div class="text-wrapper-25">Get In Touch</div>
          </div>

          <p class="text-wrapper-26">Copyright DoopL©2025. All rights reserved.</p>
        </div>
        <img class="line-2" src="img/line-1.svg" />
      </div>
    </div>
    <div class="group-30">
      <div class="group-31">
        <div class="frame-8">
          <div class="group-32">
            <div class="listen-music-anytime-2">Learner Driver</div>
            <p class="we-share-common-tren-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
              accumsan felis. Nullam tristique
              convallis sapien, in ultrices mi varius ut. Maecenas vitae,
            </p>

          </div>
        </div>
        <div class="tab-button-base-4">
          <div class="text-4">JOIN AS LEARNER</div>
        </div>
      </div>
      <img class="bitmap" src="img/bitmap.png" />
    </div>
    <div class="group-33">
      <div class="content-left-wrapper">
        <div class="content-left">
          <div class="comfortable-buds-wit">Are you an
            Instructor?</div>
          <p class="we-share-common-tren-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Donec vitae accumsan felis. Nullam tristique
            convallis sapien, in ultrices mi varius ut. Maecenas
            vitae nunc purus.
          </p>
        </div>
      </div>
      <img class="group-34" src="img/group-3.png" />
    </div>

  </div>
</body>

</html>
'