/* MAGINS */
.instant-with-doopl {
  margin-block-end: 36.56rem; /*min(36.56rem,2.539vw); 36.56rem, 2.539vw */
}
.learner-instructor-nav {
  margin-block-end: 15.24rem; /* min(15.24rem,1.059vw); 167.49rem, 1.059vw */
}
.explore-now {
}
.why-choose-us {
  margin-inline: 0vw; /* 43.44rem, 3.017vw */
  margin-block-end: min(167.49rem,11.631vw); /* 167.49rem, 11.631vw */
}
.how-it-works {
  margin-inline: 0; /* 43.44rem, 3.017vw */
  margin-block-end: min( rem,11.988vw); /* 172.63rem, 11.988vw */
}
.learner-driver {
  margin-inline: 0; /* 43.44rem, 3.017vw */
}
.home-learner-driver {
  margin-block-end: min(90.14rem,6.260vw); /* 90.14rem, 6.260vw */
}
.home-instructor {
  margin-block-end: min(196.8rem,13.667vw); /* 196.8rem, 13.667vw */
}
.our-partners {
  margin-block-end: min(196.8rem,13.667vw); /* 196.8rem, 13.667vw */
}
.help-video {
  margin-block-end: min(196.8rem,13.667vw); /* 196.8rem, 13.667vw */
}

/* MAIN */
main {
  padding-inline: max(16px, 3.017vw); /* 43.44rem, 3.017vw */
}
/* INSTANT WITH DOOPL */
.instant-with-doopl {
  /* margin-inline-start: 225rem; */
  align-self: center;
  min-width: 300px;
  /* width: 950.31rem; */
  /* max-width: 950.31px; */
  row-gap: 15.2rem;
}
.instant-with-doopl-explore {
  column-gap: 7rem;
}
.instant-with-doopl-article {
  row-gap: 21.2rem;
}
.instant-with-doopl-article-body {
  /* margin-inline-start: 81.37rem; */
  min-width: 300px;
  max-width: 829.25rem;
}

/* LEARNER INSTRUCTOR NAV */
.learner-instructor-nav {
  align-self: center;
  height: 66rem;
  width: 403rem;
  border: 1px solid #F1F1FF;
  border-radius: 12rem;
  padding: 2px;
}

.learner-instructor-nav span {
}
.learner-instructor-nav>a {
  border-radius: 12px;
}


.learner-instructor-nav>a:hover {
  opacity: 1;
}

.learner-instructor-nav>a:hover+a,.learner-instructor-nav>a:has(+a:hover)  {
  background: none;
}

.learner-instructor-nav>a:hover {
  background-color: var(--doopl-color-primary, #0A0AF5);
}

.learner-instructor-nav-instructor {
  background-color: var(--doopl-color-primary, #0A0AF5);
}

/* EXPLORE NOW */
.explore-now {
  align-self: center;
  width: 403rem;
  height: 258.86rem;
  padding-block-start: 33.37rem;
  padding-inline-start: calc(201.5rem - 12px);
  row-gap:15rem;
}
@media (max-width: 910px) {
  .explore-now {
    padding-inline-start: 0;
  }
}
.explore-now-vertical {
  height: 168rem;
}

/* WHY CHOOSE US*/
.why-choose-us {
  position: relative;
  align-self: center;
  max-width: 1353.12rem;
  min-width: 300px;
  background: var(--doopl-color-tertiary, #EEEAF8);
  border: none;
  border-radius: 36px;
  padding-inline: 8.483vw; /* 122.16rem, 8.483vw */
  padding-block: 6.944vw 6.389vw; /* 100rem 92rem, 6.944vw 6.389vw */
  row-gap: 92rem;
}
.hide-iphone-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    border: none;
  border-radius: 36px;
  background: var(--doopl-color-tertiary, #EEEAF8);
  z-index: 1;
}

.why-choose-us-iphone {
  position: absolute;
  right: -41rem;
  top: -258.86rem;
  z-index: 2;
  width: 431rem;
  height: 711rem;
}

.border-ground-iphone {
  position: absolute;
  right: 77.05rem;
  top: -250.23rem;
  width: 304rem;
  height: 583rem;
}
.why-choose-us-features {
  margin-inline-start: 5px;
  column-gap: 55rem;
  row-gap: 16rem;
  z-index: 2;
}
.why-choose-us-main {
  /* max-width: 827.17rem; */
  width: 75.68%;
  row-gap: 40.01rem;
  z-index: 2;
}
@media (max-width: 910px) {
  .why-choose-us-main {
    width: 60%;
  }
}
@media (max-width: 705px) {
  .why-choose-us {
    padding-block-start: 243px;
  }
  .why-choose-us-main {
    width: 100%;
    align-items: center;
  }
  .border-ground-iphone {
    right: calc(50% - 108.851px);
  }
  .why-choose-us-iphone {
    right: calc(50% - 192.5px);
  }
}

.why-choose-us-why {
  width: 244.44rem; 
  row-gap: 24rem;
}
.why-choose-us-why-card {
  column-gap: 16.91rem;
  row-gap: 16rem;
}

/* HOW IT WORKS */
.how-it-works {
  position: relative;
  align-self: center;
  max-width: 1111px;
  min-width: 300px;
  row-gap: 96.05rem;
}
.how-it-works-main {
  row-gap: 41rem;
}
.how-it-works-main p {
  max-width: 755px;
  text-align: center;
}
.how-it-works-details {
  column-gap: 69rem;
  row-gap: 16rem;
}
.how-it-works-image-container {
  height: 614rem;
  width: 542rem;
}
.how-it-works-image {
  position: absolute;
    left: 76rem;
    z-index: 1;
    border-radius: 21px;
    width: 425rem;
    height: 571rem;
}
.how-it-works-image-background {
  position: absolute;
  left: 145rem;
  top: 67rem;
  border-radius: 21px;
  width: 397rem;
  height: 547rem;
}
 
.how-it-works-invitation {
  position: absolute;
  top: 384rem;
  left: -0px;
  z-index: 2;
  border: none;
  border-radius: 21rem;
  width: 351rem;
  height: 91rem;
  padding-inline-start: 24rem;
  column-gap: 15rem;
}
.how-it-works-circle {
  width: 39px;
  height: 39px;
  min-width: 39px;
  min-height: 39px;
  background: #DEDAF8;
  border: 1px solid #979797;
  border-radius: 50%;
}

.how-it-works-sections-circle {
  width: 43px;
  height: 43px;
  min-width: 43px;
  min-height: 43px;
  background: #DEDAF8;
  border: 1px solid #979797;
  border-radius: 50%;
}

.how-it-works-sections {
  justify-content: center;
  row-gap: 2.685vw; /* 38.66rem, 2.685vw */
}
.how-it-works-sections-section {
  column-gap: 22px;
}
.how-it-works-sections-section p {
  max-width: 405px;
} 
.how-it-works-sections-number {
  color: #6685F4;
}

/* LEANER DRIVER + INSTRUCTOR */
.learner-driver-image {
    width: min(max(566.32rem, 566.32px),100%);

  height: 100%; /* 788.39rem; */
}

.learner-driver {
  position: relative;
  align-self: center;
  max-width: 1353.12px;
  min-width: 300px;
  background: var(--doopl-color-tertiary, #EEEAF8);
  border: none;
  border-radius: 36px;
  padding: 17.37rem;
  column-gap: 157.82rem;
}
.learner-driver-details {
  row-gap: 40rem;
}
.learner-driver-details-main {
  max-width: 384.35rem;
}
.learner-driver-details-link {
  height: 54px;
  width: 234px;
}

/* OUR PRTNERS */
.our-partners {
  align-self: center;
}
.our-partners-links {

}
.our-partners-links img{
  width: 100%;
  height: 100%;
}

.our-partners-links .link-menu{
  column-gap: 82rem;
  flex-wrap: wrap;
}

/* HELP VIDEO */
.help-video {
  position: relative;
  align-self: center;
  max-width: 1343.12px;
  min-width: 300px;
  background: transparent;
  border: none;
  width: 100%;
}
.help-video-container {
  position: relative;
}

.help-video-bg-image {
      width: 100%;
    height: 100%;
}
.help-video-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    row-gap: 24rem;
}
.help-video-image {
  cursor: pointer;
  width: 72.75rem;
    height: 68rem;
}
.help-video-image:hover {
  opacity: 0.75;
}
.help-video-main-text {
  max-width: 645.53rem;
  color: white;
  opacity: 0.65;
}

.help-video-main-text_mobile {
  display: none;
}
@media (max-width: 525px) {
  .help-video-main-text_mobile {
    display: initial;
    /* position: absolute;
    top: 100%;
    left: 0; */
  }
  .help-video-main-text_wide {
    display: none;
  }
  .help-video-main-title {
    font-size: min(25px, 36rem);;
  }
}
/* READY STARTED */
.ready-started-container {
  position: relative;
  /* padding-inline-start: 76.15px;
  padding-inline-end: 23.85px; */
  width: 100%;
  border: none;
  /* margin-block-end: 164.96px; */

}
.ready-started {
  position: relative;
  max-width: 1340px;
  min-width: 300px;
  width: 100%;
  height: 447px;;
  /* margin-inline-start: 76.15px;
  margin-inline-end: 23.85px; */
  background: url(/assets/images/topography.svg);
  border: none;
  border-radius: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 18px;
  /* margin-block-end: 164.96px; */
}
.ready-started-brief {
  column-gap: 13.28px;
}
.ready-started-bullet {
  width: 9px;
  height: 9px;
  border: none;
  border-radius: 50%;
  background: var(--doopl-color-primary,#0A0AF5);
}
.ready-started-download {
  margin-block-start: 24.57px;
}

/* HAPPY CUSTOMERS */
.happy-customers {
  position: relative;
  align-self: center;
  max-width: 1340px;
  min-width: 300px;
  width: 100%;
  border: none;
  row-gap: 132.15rem;
  margin-block-end: 301.72rem;
}

.happy-customers-header {
  column-gap: 25px;
  width: 100%;
}
.happy-customers-header-nav {
  column-gap: 25rem;
}
.happy-customers-button {
    min-width: 72px;
    height: 48px;
    border: 1px solid var(--doopl-color-text-on-secondary,#EEEAF8);
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
}
.happy-customers-button svg {
  fill: var(--doopl-color-text-on-secondary,#EEEAF8);
}
.happy-customers-button:hover svg {
  fill: #160F31;
}
.happy-customers-button:hover {
  background: var(--doopl-color-text-on-secondary,#EEEAF8);
}
.happy-customers-slides-container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 455.38px;
}
.happy-customers-slides {
  column-gap: 34px;
  row-gap: 34px;
  position: absolute;
  top: 0;
  left: 0;
}
.happy-customers-card {
  height: 455.38px;
  row-gap: 28.17px;
  background: var(--doopl-color-tertiary,#EEEAF8);
  border: none;
  border-radius: 36px;
  padding-inline: 33px;
  padding-block: 60px;
  width: 350px;
}
.happy-customers-card-1 { opacity: 0.7;}
.happy-customers-card-2 { opacity: 0.5;}
.happy-customers-card-3 { opacity: 0.3;}
.happy-customers-card-4 { opacity: 0.2;}
.happy-customers-card-5 { opacity: 0.2;}
.happy-customers-driving-wheel {
    position: absolute;
    bottom: -262.53rem;
    left: -51.93rem;
    width: 316.27rem;
    height: 315.18rem;
}