@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("./theme.css");
@import url("./layouts.css");
@import url("./widgets.css");
@import url("./typography.css");
@import url("./button.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  margin: 0;
  /* height: 100%; */
  font-size: calc(100vw / 1440); /* fully fluid implementation */
  font-size: 1px; /* no fluid implementation */
}

body {
  font-size: 15rem;
  margin: 0;
  /* height: 100%; */
  background-color: var(---doopl-color-secondary,rgba(18, 10, 45, 1));
  color: var(--doopl-color-text-on-secondary, white);
  padding: var(--doopl-body-padding-block) var(--doopl-body-padding-inline);
  transition: font-family 0.3s ease;
  font-display: swap;
}

a {
  text-decoration: none;
  color: white;
}

/* DOOPL STYLES */
.ellipse-top {
    position: absolute;
    width: 862.89rem;
    height: 532.47rem;
    top: -183.38rem;
    left: -248.82rem;
    border-radius: 431.45rem/266.24rem;
    transform: rotate(-45deg);
    filter: blur(50px);
    background: linear-gradient(
    180deg,
    rgba(10, 10, 245, 0.75) 13%,
    rgba(133, 133, 250, 0.38) 49%,
    rgba(238, 234, 248, 0.08) 94%
  );
}

.ellipse-bottom {
    position: absolute;
    width: 862.89rem;
    height: 532.47rem;
    bottom: 0;
    left: 0;
}
.ellipse-bottom:before {
  content: "JJJJJ";
  background-size: cover;
    position: absolute;
    width: 862.89rem;
    height: 532.47rem;
    bottom: -183.38rem;
    left: -248.82rem;
    border-radius: 431.45rem/266.24rem;
    transform: rotate(-135deg);
    filter: blur(50px);
    background: linear-gradient(
    180deg,
    rgba(10, 10, 245, 0.75) 13%,
    rgba(133, 133, 250, 0.38) 49%,
    rgba(238, 234, 248, 0.08) 94%
  );
}

.blurred-spot-top {
  position: absolute;
  top: 0;
  left: 0;
}

.blurred-spot-bottom {
  position: absolute;
  bottom: calc( 0rem - var(--doopl-body-padding-block));
  left: calc( 0rem - var(--doopl-body-padding-inline));
}

.footer-container {
  position: relative;
}
