@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("./theme.css");
@import url("./layouts.css");
@import url("./widgets.css");
@import url("./typography.css");
@import url("./button.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  margin: 0;
  /* height: 100%; */
  font-size: calc(100vw / 1440); /* fully fluid implementation */
  font-size: 1px; /* no fluid implementation */
}

body {
  font-size: 15rem;
  margin: 0;
  /* height: 100%; */
  background-color: var(---doopl-color-secondary,rgba(18, 10, 45, 1));
  color: var(--doopl-color-text-on-secondary, white);
  padding: var(--doopl-body-padding-block) var(--doopl-body-padding-inline);
  transition: font-family 0.3s ease;
  font-display: swap;

  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.5;
}

/* WEBSITE LEVEL CSS CLASSES */
.blurred-spot-top {
  position: absolute;
  top: 0;
  left: 0;
}

.blurred-spot-bottom {
  position: absolute;
  bottom: calc( 0rem - var(--doopl-body-padding-block));
  left: calc( 0rem - var(--doopl-body-padding-inline));
  bottom: 0;
  left: 0;
}

.bottom-container {
  position: relative;
}

.card-container {
  max-width: 1353.12px;
  min-height: 569px;
  background: var(--doopl-color-tertiary);
  width: 1353.12px;
  border: none;
  border-radius: 36px;
}
