.flex-hor {
    display: flex;
    flex-direction: row;
}

.flex-hor-in-st {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.flex-hor-sb-ce {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-hor-sb-st {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-hor-st-st {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-hor-en-st {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-hor-sb-st {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-ver-st-st {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-ver-st-ch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-ver-st-ce {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-grow {
    flex-grow: 1;
}


