:root {
  --greys-9: rgba(255, 255, 255, 1);
  --greys-2: rgba(28, 28, 28, 1);
  --regular-font-family: "Poppins", Helvetica;
  --regular-font-weight: 400;
  --regular-font-size: 15px;
  --regular-letter-spacing: 0.45px;
  --regular-line-height: 125.99999904632568%;
  --regular-font-style: normal;
  --desktop-button-font-family: "Inter", Helvetica;
  --desktop-button-font-weight: 600;
  --desktop-button-font-size: 12px;
  --desktop-button-letter-spacing: 0.6px;
  --desktop-button-line-height: 189.9999976158142%;
  --desktop-button-font-style: normal;
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px
    rgba(16, 24, 40, 0.1);
  --variable-collection-text-muted: rgba(169, 167, 179, 1);
  --variable-collection-background-light: rgba(241, 241, 255, 1);
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  font-family: var(--doopl-main-font);
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
    --doopl-color-primary: rgba(10, 10, 245, 1); /*#0A0AF5*/
  --doopl-color-secondary: rgba(18, 10, 45, 1); /*#120A2D*/

  --doopl-main-font: -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
               'Open Sans', 'Helvetica Neue', sans-serif;

  --doopl-body-padding-inline: 43.44rem;
  --doopl-body-padding-block: 36rem;

  --doopl-header-padding-inline-start: 31.56rem; /*calc (75rem - 43.44rem);*/
  --doopl-header-height: 85rem;
  --doopl-button-padding-inline: 27.5px;
  --doopl-button-download-padding-block: 13.547px;
  --doopl-button-link-padding-block: 13.5px;
  --doopl-button-background: var(--doopl-color-primary);
  --doopl-button-border-radius: 12px;
  --doopl-button-opacity-hover: 0.85;
  --doopl-button-font-family: var(--doopl-main-font);--doopl-button-font-family: var(--doopl-main-font);
  --doopl-button-font-weight: 500;
  --doopl-button-download-font-size: 15px;
  --doopl-button-link-font-size: 18px;
}