@import url("./layouts.css");
@import url("./widgets.css");
@import url("./typography.css");
@import url("./button.css");

/* rEsetting default styles */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* DOOPL THEME */
:root {
  /* COLOR SYSTEM */
  --doopl-color-primary: rgba(10, 10, 245, 1); /*#0A0AF5*/
  --doopl-color-secondary: rgba(18, 10, 45, 1); /*#120A2D*/
  --doopl-color-tertiary: rgba(238, 234, 248, 1);
  --doopl-color-text-on-primary: rgba(255, 255, 255, 0.7);
  --doopl-color-title-on-primary: rgba(255, 255, 255, 1);
  --doopl-color-title-on-secondary: rgba(255, 255, 255, 1);
  --doopl-color-text-on-secondary: rgba(238, 234, 248, 0.7);
  --doopl-color-title-on-tertiary: rgba(2, 21, 48, 1);
  --doopl-color-text-on-tertiary: rgba(22, 15, 49, 0.7);
  --doopl-color-title-small-on-tertiary: rgba(22, 28, 45, 1);
  --doopl-color-text-small-on-tertiary: rgba(22, 28, 45, 0.7);

  /* TYPOGRAPHY */
  --doopl-title-font-family: Poppins, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
               'Open Sans', 'Helvetica Neue', sans-serif;
  --doopl-text-font-family: Montserrat, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
               'Open Sans', 'Helvetica Neue', sans-serif;
  
    /* SIZE */

    /* WEIGHT */
  --doopl-medium-font-weight: 500;
  --doopl-regular-font-weight: 400;
  --doopl-light-font-weight: 300;
  --doopl-title-font-weight: 700;


  /* BUTTON */
  --doopl-button-padding-inline: 27.5px;
  --doopl-button-action-padding-block: 13.547px;
  --doopl-button-link-padding-block: 13.5px;
  --doopl-button-background: var(--doopl-color-primary);
  --doopl-button-text-color: var(--doopl-color-text-on-primary);
  --doopl-button-border-radius: 12px;
  --doopl-button-opacity-hover: 0.85;
  --doopl-button-font-family: var(--doopl-title-font-family);
  --doopl-button-font-weight: var(--doopl-medium-font-weight);
  --doopl-button-action-font-size: 15px;
  --doopl-button-link-font-size: 18px;

  /* MENUS */
  --doopl-menu-item-column-gap: 30px;
  --doopl-menu-item-row-gap: 16px;
  --doopl-menu-font-family: var(--doopl-title-font-family);
  --doopl-menu-font-size: 15px;
  --doopl-menu-font-weight: var(--doopl-medium-font-weight);
  --doopl-menu-letter-spacing: 0.05em;
  --doopl-menu-line-height: 1.9em;
  --doopl-menu-vertical-align: top;
  --doopl-menu-background: none;
  --doopl-menu-text-color: var(--doopl-color-title-on-secondary);
  --doopl-menu-text-uppercase: capitalize;
  --doopl-menu-horizontal-text-uppercase: uppercase;

  /* LINK MENUS */
  --doopl-link-menu-column-gap: 16px;
  --doopl-link-menu-row-gap: 16.39px;
  --doopl-link-menu-font-family: var(--doopl-text-font-family);
  --doopl-link-menu-font-size: 12px;
  --doopl-link-menu-font-weight: 300;
  --doopl-link-menu-letter-spacing: 0.03em;
  --doopl-link-menu-line-height: 1em;
  --doopl-link-menu-vertical-align: middle;
  --doopl-link-menu-background: none;
  --doopl-link-menu-text-color: var(--doopl-color-text-on-secondary);
  --doopl-link-menu-text-uppercase: capitalize;
}

.link-menu-navbar-small {
  --doopl-link-menu-font-size: 11px;
  --doopl-link-menu-column-gap: 13.5px;
}

.footer-social-links {
  --doopl-link-menu-column-gap: 61.06px;
  --doopl-link-menu-row-gap: 16.39px;

}